{% extends "layouts/base-fullscreen.html" %}
{% block title %} Azure {% endblock %} 
<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}
<link type="text/css" href="/static/assets/vendor/@fortawesome/fontawesome-free/css/all.min.css" rel="stylesheet">
<link type="text/css" href="/static/assets/css/main.css" rel="stylesheet">
{% endblock stylesheets %}
{% block content %}
<main>
    <div class="main-background">
        {% include 'includes/sidebar.html' %}
        <div class="main-body">
            <div class="main-body-header">
            </div>
            <div class="center-section">
                <div class="card mb-3 margin-all-10 width-700" data-component-card="data-component-card">
                    <div class="card-header">
                        <div class="justify-content-between align-items-center">
                            <h4 class="mb-0">Azure integration
                                <div class="tooltip-container">
                                  <a href="https://perforge.app/docs/configuration/integrations#azure-wiki" target="_blank">
                                      <span class="fa-regular fa-circle-question me-2 mt-2"></span>
                                  </a>
                                  <div class="tooltip-content" style="font-size: 16px;">
                                      Click to learn more
                                  </div>
                                </div>
                            </h4>
                        </div>
                    </div>
                    <div class="card-body">
                        <form method="POST" action="/azure">
                            {{ form.hidden_tag() }}
                            <div class="center-section width-500">
                                {% if azure_config %}
                                    <input type="hidden" name="id" id="config_id" value="{{ azure_config }}">
                                {% else %}
                                    <input type="hidden" name="id" id="config_id">
                                {% endif %}
                                <label for="name">Name:</label>
                                {{ form.name(class="form-control") }}
                                <div class="tooltip-container">
                                  <span class="fa-regular fa-circle-question me-2 mt-2"></span>
                                  <div class="tooltip-content">
                                    To hide the token, you can add it to the Secrets page and use it from there as a variable &#123;&#123;secret_example&#125;&#125;.
                                  </div>
                                </div>
                                <label for="token" class="input-label mt-2">Token:</label>
                                {{ form.token(class="form-control") }}
                                <label for="org_url" class="mt-2">Wiki Organization Url:</label>
                                {{ form.org_url(class="form-control") }}
                                <label for="project_id" class="mt-2">Wiki Project:</label>
                                {{ form.project_id(class="form-control") }}
                                <label for="identifier" class="mt-2">Wiki Identifier:</label>
                                {{ form.identifier(class="form-control") }}
                                <label for="path_to_report" class="mt-2">Wiki Path To Report:</label>
                                {{ form.path_to_report(class="form-control") }}
                                <label for="is_default" class="mt-2">Is Default:</label>
                                {{ form.is_default(class="form-control") }}
                                <button class="btn btn-primary mt-5" type="submit">Save</button>
                                {% if azure_config %}
                                    <a class="btn btn-danger ms-2 mt-5" data-bs-toggle="modal" data-bs-target="#deleteModal">Delete</a>
                                {% endif %}
                            </div>
                        </form>
                        <div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="deleteModalLabel" aria-hidden="true">
                          <div class="modal-dialog">
                            <div class="modal-content">
                              <div class="modal-header">
                                <h5 class="modal-title" id="deleteModalLabel">Confirm Delete</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                              </div>
                              <div class="modal-body">
                                Are you sure you want to delete this configuration?
                              </div>
                              <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                                <a class="btn btn-danger" href="/delete/azure?azure_config={{ azure_config }}">Confirm Delete</a>
                              </div>
                            </div>
                          </div>
                        </div>
                    </div>
                </div>
                {% with msgs = get_flashed_messages() %}
                    {% include 'includes/flashed-msg.html' %}
                {% endwith %}
            </div>
        </div>
    </main>
    <script>
      var tooltipTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="tooltip"]'))
      var tooltipList = tooltipTriggerList.map(function (tooltipTriggerEl) {
        return new bootstrap.Tooltip(tooltipTriggerEl)
      });
    </script>
{% endblock content %}