{% extends "layouts/base-fullscreen.html" %}
{% block title %} SMTP Mail {% endblock %} 
<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}
<link type="text/css" href="/static/assets/vendor/@fortawesome/fontawesome-free/css/all.min.css" rel="stylesheet">
<link type="text/css" href="/static/assets/css/main.css" rel="stylesheet">
{% endblock stylesheets %}
{% block content %}
    <main>
        <div class="main-background">
            {% include 'includes/sidebar.html' %}
            <div class="main-body">
                <div class="main-body-header">
                </div>
                <div class="center-section">
                    <div class="card mb-3 margin-all-10 width-700" data-component-card="data-component-card">
                        <div class="card-header">
                            <div class="justify-content-between align-items-center">
                                <h4 class="mb-0">SMTP Mail integration
                                    <a href="https://perforge.app/docs/configuration/integrations#smtp-mail" target="_blank" data-toggle="tooltip" data-placement="right" title="Click to learn more">
                                        <i class="fa-regular fa-circle-question"></i>
                                    </a>
                                </h4>
                            </div>
                        </div>
                        <div class="card-body">
                            <form method="POST" action="/grafana">
                                <div class="center-section">
                                    {{ form.hidden_tag() }}
                                    {% if smtp_mail_config %}
                                        <input type="hidden" name="id" id="config_id" value="{{ smtp_mail_config }}">
                                    {% else %}
                                        <input type="hidden" name="id" id="config_id">
                                    {% endif %}
                                    <label for="name" class="input-label mt-2">Name:</label>
                                    {{ form.name(id='name', class_='form-control') }}

                                    <label for="server" class="input-label mt-2">Server:</label>
                                    {{ form.server(id='server', class_='form-control') }}
                                    
                                    <label for="port" class="input-label mt-2">Port:</label>
                                    {{ form.port(id='port', class_='form-control') }}

                                    <label for="use_ssl" class="input-label mt-2">UseSsl:</label>
                                    {{ form.use_ssl(id='use_ssl', class_='form-control') }}

                                    <label for="use_tls" class="input-label mt-2">UseTls:</label>
                                    {{ form.use_tls(id='use_tls', class_='form-control') }}

                                    <label for="username" class="input-label mt-2">Username:</label>
                                    {{ form.username(id='username', class_='form-control') }}

                                    <span class="fa-regular fa-circle-question me-2 mt-2" data-bs-toggle="tooltip" data-bs-placement="left" title="To hide the token, you can add it to the Secrets page and use it from there as a variable &#123;&#123;secret_example&#125;&#125;."></span>
                                    <label for="token" class="input-label mt-2">Token:</label>
                                    {{ form.token(class="form-control") }}

                                    <label for="is_default" class="input-label mt-2">Is Default:</label>
                                    {{ form.is_default(id='is_default', class_='form-control') }}

                                    <label for="dashboards" class="input-label mt-2">Recipients:</label>
                                    <div id="dashboards-container" style="width: 100%;">
                                        {% for recipient in form.recipients %}
                                        <div class="flex m10-top">
                                            {{ recipient(class_='form-control dashboardInput', required=true) }}
                                            <button type="button" class="btn btn-secondary ms-2 deleteDashboard" onclick="removeDashboard(this)">Delete</button>
                                        </div>
                                        {% endfor %}
                                    </div>
                                    <div>
                                        <button class="btn btn-primary mt-5" type="button" id="addDashboardButton" onclick="addDashboard()">Add Recipient</button>
                                        <button class="btn btn-primary ms-2 mt-5" type="submit">Save</button>
                                        {% if smtp_mail_config %}
                                            <a class="btn btn-danger ms-2 mt-5" data-bs-toggle="modal" data-bs-target="#deleteModal">Delete</a>
                                        {% endif %}
                                    </div>
                                </div>
                            </form>
                            <div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="deleteModalLabel" aria-hidden="true">
                              <div class="modal-dialog">
                                <div class="modal-content">
                                  <div class="modal-header">
                                    <h5 class="modal-title" id="deleteModalLabel">Confirm Delete</h5>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                  </div>
                                  <div class="modal-body">
                                    Are you sure you want to delete this configuration?
                                  </div>
                                  <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                                    <a class="btn btn-danger" href="/delete/smtp-mail?smtp_mail_config={{ smtp_mail_config }}">Confirm Delete</a>
                                  </div>
                                </div>
                              </div>
                            </div>
                        </div>
                    </div>
                   {% with msgs = get_flashed_messages() %}
                   {% include 'includes/flashed-msg.html' %}
                   {% endwith %}
                </div>
            </div>
        </div>
    </main>
    <script>
        document.addEventListener("DOMContentLoaded", function() {
            window.addDashboard = function() {
                var count = document.querySelectorAll('.dashboardInput').length;
                var html = `<div class="flex m10-top">
                                <input type="text" class="form-control dashboardInput" required="" name="dashboards-${count}" id="dashboards-${count}">
                                <button type="button"class="btn btn-secondary ms-2 deleteDashboard" onclick="removeDashboard(this)">Delete</button>
                            </div>`;
                var container = document.createElement('div');
                container.innerHTML = html;
                document.getElementById('dashboards-container').appendChild(container.firstChild);
            };
        
            window.removeDashboard = function(e) {
                var dashboardsContainer = document.getElementById('dashboards-container');
                dashboardsContainer.removeChild(e.parentNode);
        
                // After removing an input field, update all name and id attributes
                var dashboardInputs = document.querySelectorAll('.dashboardInput');
                for (var i = 0, len = dashboardInputs.length; i < len; i++) {
                    dashboardInputs[i].name = "dashboards-" + i;
                    dashboardInputs[i].id = "dashboards-" + i;
                }
            };
        });

        $("form").submit(function(event){  
            event.preventDefault(); // prevent form from doing its default action (submitting)
            // get values of all inputs
            var id         = $('#config_id').val();
            var name       = $('#name').val();
            var server     = $('#server').val();
            var port       = $('#port').val();
            var use_ssl    = $('#use_ssl').val();
            var use_tls    = $('#use_tls').val();
            var username   = $('#username').val();
            var token      = $('#token').val();
            var is_default = $('#is_default').val();
            var recipients = [];
            $('.dashboardInput').each(function() {
              recipients.push($(this).val());
            });
            var formData = {
                id        : id,
                name      : name,
                server    : server,
                port      : port,
                use_ssl   : use_ssl,
                use_tls   : use_tls,
                username  : username,
                token     : token,
                is_default: is_default,
                recipients: recipients
            };

            // send a POST request with the gathered data
            $.ajax({
                type: "POST",
                url: "/smtp-mail",
                contentType: "application/json",
                data: JSON.stringify(formData),
                success: function(response) {
                        // alert('Configuration saved successfully!');
                        if (response.includes("smtp_mail_config")) {
                            window.location.replace("/smtp-mail?"+response);
                        }
                },
                error: function(err){
                    // If request resulted in error, handle it here
                }
            });
        });

        $(document).ready(function(){ 
          $('[data-toggle="tooltip"]').tooltip(); 
        });
        </script>
{% endblock content %}