services:
  perforge:
    image: perforge/perforge-app:2.1.10
    container_name: perforge
    ports:
      - "7878:7878"
    volumes:
      - perforge-conf:/app/app/data/
    networks:
      - perforge-net
    restart: always

  influxdb:
    image: influxdb:2.7.6-alpine
    container_name: influxdb
    volumes:
      - influxdb-data:/var/lib/influxdb2
      - influxdb-config:/etc/influxdb2
    ports:
      - "8086:8086"
    environment:
      - DOCKER_INFLUXDB_INIT_MODE=setup
      - DOCKER_INFLUXDB_INIT_USERNAME=admin
      - DOCKER_INFLUXDB_INIT_PASSWORD=adminpass
      - DOCKER_INFLUXDB_INIT_ORG=perforge
      - DOCKER_INFLUXDB_INIT_BUCKET=jmeter
      - DOCKER_INFLUXDB_INIT_ADMIN_TOKEN=DqwGq5e7Avv9gKYi2NtRtRenOxbvEqXMtg-r4WjNxYlerHMfikeLtCTJwSTzk-5NheVXTOFi0qug5jRGuh8-mw==
    networks:
      - perforge-net
    restart: always

  grafana:
    image: grafana/grafana:10.0.2
    container_name: grafana
    ports:
      - "3000:3000"
    environment:
      - GF_SECURITY_ADMIN_USER=admin
      - GF_SECURITY_ADMIN_PASSWORD=adminpass
      - GF_RENDERING_SERVER_URL=http://renderer:8081/render
      - GF_RENDERING_CALLBACK_URL=http://grafana:3000/
    volumes:
      - grafana-home:/var/lib/grafana/
      - grafana-conf:/etc/grafana/
    networks:
      - perforge-net
    restart: always

  renderer:
    image: grafana/grafana-image-renderer:latest
    container_name: renderer
    ports:
      - 8081
    networks:
      - perforge-net
    restart: always

volumes:
  perforge-conf:
  influxdb-data:
  influxdb-config:
  grafana-home:
  grafana-conf:

networks:
  perforge-net:
