atlassian-python-api==3.41.11
email_validator==2.1.1
flask==3.0.3
flask_bcrypt==1.0.1
flask_login==0.6.3
flask_mail==0.9.1
flask_migrate==4.0.7
flask_sqlalchemy==3.1.1
flask_wtf==1.2.1
gunicorn==22.0.0
influxdb-client==1.43.0
jinja2==3.1.4
Pillow==10.3.0
psycopg2==2.9.9
pydantic==2.10.6
python-decouple==3.8
pyyaml==6.0.1
reportlab==4.2.0
requests==2.31.0
sqlalchemy==2.0.30
Werkzeug==3.0.3
portalocker==2.8.2
pandas==2.2.2
numpy==1.26.4
scikit-learn==1.5.1
statsmodels==0.14.2
ruptures==1.1.9
Flask-Compress==1.15
matplotlib==3.10.0
langchain-google-genai==2.0.11
langchain==0.3.20
langchain_core==0.3.41
langchain_openai==0.3.7

# DEPRECTAED
google-generativeai==0.5.4
openai==1.64.0
