{% extends "layouts/base-fullscreen.html" %}
{% block title %} Graphs {% endblock %} 
<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}
<link type="text/css" href="/static/assets/vendor/@fortawesome/fontawesome-free/css/all.min.css" rel="stylesheet">
<link type="text/css" href="/static/assets/css/main.css" rel="stylesheet">
{% endblock stylesheets %}
{% block content %}
<main>
    <div class="main-background">
      {% include 'includes/sidebar.html' %}
      <div class="main-body">
        <div class="main-body-header">
        </div> 
        <div class="card mb-3 margin-all-10" data-component-card="data-component-card">
          <div class="card-header">
            <div class="justify-content-between align-items-center">
              <h4 class="mb-0">Graphs
                  <a href="https://perforge.app/docs/configuration/graphs" class="fa-regular fa-circle-question" data-bs-toggle="tooltip" data-bs-placement="right" target="_blank" title="Click to learn more">
                  </a>
              </h4>
            </div>
          </div>
          <div class="card-body">
              <div id="table-id">
                  <div class="d-flex align-items-center justify-content-end mb-3">
                      <div class="d-flex">
                          <div>
                              <div class="search-box position-relative" data-bs-toggle="search" data-bs-display="static">
                                  <input class="form-control search-input search" type="search" placeholder="Search" aria-label="Search" />
                                  <span class="fas fa-search search-box-icon"></span>
                              </div>
                          </div>
                          <button class="btn btn-primary ms-2" type="button" data-bs-toggle="modal" data-bs-target="#graphModal" add-graph="add-graph">Add graph</button>
                      </div>
                  </div>
                  <div class="table-responsive">
                      <table class="table fs--1 mb-0">
                          <thead>
                              <tr>
                                  <th class="sort" data-sort="name">Name</th>
                                  <th class="sort" data-sort="grafana">Grafana</th>
                                  <th class="sort" data-sort="dash_id">Dashboard Id</th>
                                  <th class="sort" data-sort="view_panel">View Panel</th>
                                  <th class="sort" data-sort="height">Height</th>
                                  <th class="sort" data-sort="width">Width</th>
                                  <th class="sort" data-sort="prompt_id">Prompt</th>
                                  <th class="sort" data-sort="actions">Actions</th>
                              </tr>
                          </thead>
                          <tbody class="list">
                              {% for graph in graphs_list %}
                              <tr>
                                  <td class="name">{{ graph.name }}</td>
                                  <td class="grafana">
                                      {% for grafana in grafana_configs %}
                                          {% if grafana.id == graph.grafana_id %}
                                              {{ grafana.name }}
                                          {% endif %}
                                      {% endfor %}
                                  </td>
                                  <td class="dash_id">
                                      {% for grafana in grafana_configs %}
                                          {% for dashboard in grafana.dashboards %}
                                              {% if dashboard.id == graph.dash_id %}
                                                  {{ dashboard.content }}
                                              {% endif %}
                                          {% endfor %}
                                      {% endfor %}
                                  </td>
                                  <td class="view_panel">{{ graph.view_panel }}</td>
                                  <td class="height">{{ graph.height }}</td>
                                  <td class="width">{{ graph.width }}</td>
                                  <td class="prompt_id">
                                      {% for prompt in graph_prompts %}
                                          {% if prompt.id == graph.prompt_id %}
                                              {{ prompt.name }}
                                          {% endif %}
                                      {% endfor %}
                                  </td>
                                  <td class="actions" style="width: 15%;">
                                      <button class="btn btn-secondary" type="button" data-bs-toggle="modal" data-bs-target="#graphModal" data-graph='{{ graph | tojson | safe }}'>Edit</button>
                                      <a class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#deleteModal{{ graph.id }}">Delete</a>
                                  </td>
                              </tr>
                              <div class="modal fade" id="deleteModal{{ graph.id }}" tabindex="-1" aria-labelledby="deleteModalLabel" aria-hidden="true">
                                <div class="modal-dialog">
                                  <div class="modal-content">
                                    <div class="modal-header">
                                      <h5 class="modal-title" id="deleteModalLabel">Confirm Delete</h5>
                                      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                    </div>
                                    <div class="modal-body">
                                      Are you sure you want to delete the "{{ graph.name }}" graph?
                                    </div>
                                    <div class="modal-footer">
                                      <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                                      <a class="btn btn-danger" href="/delete-graph?graph_id={{ graph.id }}">Confirm Delete</a>
                                    </div>
                                  </div>
                                </div>
                              </div>
                              {% endfor %}
                          </tbody>
                      </table>
                  </div>
              </div>
          </div>
        </div>
        {% with msgs = get_flashed_messages() %}
            {% include 'includes/flashed-msg.html' %}
        {% endwith %}
      </div>
    </div>
    <div class="modal fade" id="graphModal" aria-hidden="true" style="display: none;">
      <div class="modal-dialog">
          <div class="modal-content">
            <form method="POST" action="/save-graph">
              <input type="hidden" name="id" id="graph_id">
              <div class="modal-header">
                  <h2 class="modal-title" id="addnewgraphLabel">Add graph</h2>
              </div>
              <div class="modal-body">
                <div class="mt-3">
                    <label>Name</label>
                    {{ form_for_graphs.name(class="form-control") }}
                </div>
                <div class="mt-3">
                    <label>Grafana</label>
                    <select class="form-select" id="grafana_id" name="grafana_id">
                        {% for grafana in grafana_configs %}
                            <option value="{{ grafana.id }}">{{ grafana.name }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="mt-3">
                    <label>Dashboard Id</label>
                    <select class="form-select" id="dash_id" name="dash_id">
                    </select>
                </div>
                <div class="mt-3">
                    <label>View panel</label>
                    {{ form_for_graphs.view_panel(class="form-control") }}
                </div>
                <div class="mt-3">
                    <label>Panel width</label>
                    {{ form_for_graphs.width(class="form-control") }}
                </div> 
                <div class="mt-3">
                    <label class="mt-3">Panel height</label>
                    {{ form_for_graphs.height(class="form-control") }} 
                </div>
                <div class="mt-3">
                    <label>Prompt (optional)</label>
                    <select class="form-select" id="prompt_id" name="prompt_id">
                        <option value="" selected>Select a prompt</option>
                        {% for prompt in graph_prompts %}
                            <option value="{{ prompt.id }}" data-prompt="{{ prompt.prompt }}">{{ prompt.name }} ({{ prompt.type }})</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="mt-3">
                    <label>Prompt Value</label>
                    <textarea class="form-control" id="prompt_value" rows="5" readonly></textarea>
                </div>
              </div>
              <div class="modal-footer">
                  <div class="status-place" style="float: left;"></div>
                  <button class="btn btn-secondary" data-bs-dismiss="modal" type="button">Close</button>
                  <button class="btn btn-primary" type="submit">Save</button>
              </div>
            </form>
          </div>
      </div>
    </div>
    <script>
      $(document).ready(function() {
          var grafanaConfigs = {{ grafana_configs | tojson | safe }};
  
          $('#grafana_id').change(function() {
              var selectedGrafanaId = $(this).val();
              var selectedGrafana = grafanaConfigs.find(function(grafana) {
                  return grafana.id === selectedGrafanaId;
              });
              var dashboards = selectedGrafana.dashboards;
              var dashIdSelect = $('#dash_id');
              dashIdSelect.empty();
              dashboards.forEach(function(dashboard) {
                  dashIdSelect.append('<option value="' + dashboard.id + '">' + dashboard.content + '</option>');
              });
          });
  
          $('#grafana_id').change();
  
          var modal = $('#graphModal');
          var form = modal.find('form');
  
          $('button[data-bs-toggle="modal"][data-bs-target="#graphModal"]').click(function() {
              var graph = $(this).data('graph');
  
              $.each(graph, function(key, value) {
                  form.find('[name="' + key + '"]').val(value);
                  if (key == "prompt_id" && value == ""){
                      form.find('[name="prompt_id"]').val(`{{ form_for_graphs.prompt_id.default }}`);
                  }
              });
  
              $('#grafana_id').val(graph.grafana_id).change();
              $('#dash_id').val(graph.dash_id);
  
              // Trigger change event to update the textarea with the selected prompt's value
              $('#prompt_id').change();
          });
  
          modal.on('hidden.bs.modal', function() {
              form[0].reset();
              $('#graph_id').val('');
              $('#prompt_value').val(''); // Clear the textarea when the modal is closed
          });
  
          // Update the prompt value textarea when a prompt is selected
          $('#prompt_id').change(function() {
              var selectedPrompt = $(this).find('option:selected').data('prompt');
              $('#prompt_value').val(selectedPrompt || '');
          });
      });
    </script>
  </main>
{% endblock content %}