{% extends "layouts/base-fullscreen.html" %}
{% block title %} Logs {% endblock %}
<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}
<link type="text/css" href="/static/assets/vendor/@fortawesome/fontawesome-free/css/all.min.css" rel="stylesheet">
<link type="text/css" href="/static/assets/css/main.css" rel="stylesheet">
{% endblock stylesheets %}
{% block content %}
   <main>
      <div class="main-background">
            {% include 'includes/sidebar.html' %}
            <div class="main-body">
               <div class="main-body-header">
                  <h4 class="mb-0">Logs
                     <div class="tooltip-container">
                       <a href="https://perforge.app/docs/category/configuration" target="_blank">
                           <span class="fa-regular fa-circle-question me-2 mt-2"></span>
                       </a>
                       <div class="tooltip-content" style="font-size: 16px;">
                           Click to learn more
                       </div>
                     </div>
                   </h4>
               </div>
               <pre class="ms-4">{{ logs }}</pre>
            </div>
        </div>
        <script>
        </script>
    </main>
{% endblock content %}