{% extends "layouts/base-fullscreen.html" %}
{% block title %} Template {% endblock %}
<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}
<!-- <link type="text/css" href="/static/assets/css/pixel.css" rel="stylesheet"> -->
<link type="text/css" href="/static/assets/vendor/@fortawesome/fontawesome-free/css/all.min.css" rel="stylesheet">
<link type="text/css" href="/static/assets/css/main.css" rel="stylesheet">
<link type="text/css" href="/static/assets/css/report.css" rel="stylesheet">
{% endblock stylesheets %}
{% block content %}
    <main>
        <div class="main-background">
            {% include 'includes/sidebar.html' %}
            <div class="main-body">
                <div class="main-body-header">
                </div>
                <div class="full-screen-section margin-all-10">
                    {% raw %}
                    <div id="app" style="width: 100%;">
                        <form class="needs-validation" novalidate="">
                            <div class="row flex-between-end pl-5 pr-5">
                                <div class="col-auto">
                                    <h2 class="mb-2">Template page
                                        <div class="tooltip-container">
                                            <a href="https://perforge.app/docs/configuration/templates" target="_blank">
                                                <span class="fa-regular fa-circle-question me-2 mt-2"></span>
                                            </a>
                                            <div class="tooltip-content" style="font-size: 20px;">
                                                Click to learn more
                                            </div>
                                        </div>
                                    </h2>
                                </div>
                                <div class="col-auto">
                                    <button class="btn btn-primary mb-2 mb-sm-0" @click="checkForm">Save</button>
                                </div>
                            </div>
                            <div class="row g-5">
                            <div class="col-12 col-xl-8 pr-5">
                                <h4 class="mb-3">Report title</h4>
                                <input v-model="title" id="template-title" class="form-control mb-5" type="text" placeholder="Write title here..." required>
                                <h4 class="mb-3">Report template</h4>
                                <draggable v-model="template" :element="'div'">
                                    <div v-for="element in template" :key="element.id">
                                        <div v-if="element.type === 'text'" class="template-group">
                                            <textarea v-model="element.content" required></textarea>
                                            <button class='btn-close-id btn-close ms-2' @click="removeElement(element)" type="button"></button>
                                        </div>
                                        <div v-else-if="element.type === 'graph'" class="template-group">
                                            <span class="badge badge-success">GRAPH</span>
                                            <div class="template-el-label">Name: {{ getGraphNameById(element.graph_id) }}</div>
                                            <div class="flex-end">
                                                <button class='btn-close-id btn-close' @click="removeElement(element)" type="button"></button>
                                            </div>
                                        </div>
                                    </div>
                                </draggable>
                                <button class="btn btn-primary mt-3" @click="addTextElement" type="button">Add Text</button>
                                <div class="d-flex flex-direction-column">
                                    <div class="d-flex justify-content-between mb-3 mt-3">
                                        <div class="d-flex flex-direction-column">
                                            <label class="form-check-label" for="ai_switch">AI analysis</label>
                                            <label class="text-description">Test results will be evaluated by leveraging default AI integration and utilizing the provided prompts.</label>
                                        </div>
                                        <div class="form-check form-switch">
                                            <input v-model="ai_switch" class="form-check-input" id="ai_switch" type="checkbox" checked="">
                                        </div>
                                    </div>
                                    <div class="d-flex justify-content-between mb-3">
                                        <div class="d-flex flex-direction-column">
                                            <label class="form-check-label" for="ai_aggregated_data_switch">AI aggregated data analysis</label>
                                            <label class="text-description">Clarify if there's a need to conduct an analysis of the aggregated data.</label>
                                        </div>
                                        <div class="form-check form-switch">
                                            <input v-model="ai_aggregated_data_switch" class="form-check-input" id="ai_aggregated_data_switch" type="checkbox" :disabled="!ai_switch" :class="{ 'disabled-checkbox': !ai_switch }" checked="">
                                        </div>
                                    </div>
                                    <div class="d-flex justify-content-between mb-3">
                                        <div class="d-flex flex-direction-column">
                                            <label class="form-check-label" for="ai_graph_switch">AI graphs analysis</label>
                                            <label class="text-description">Clarify if there's a need to conduct an analysis of the graphs. Also, make sure you've chosen a model that can handle image inputs.</label>
                                        </div>
                                        <div class="form-check form-switch">
                                            <input v-model="ai_graph_switch" class="form-check-input" id="ai_graph_switch" type="checkbox" :disabled="!ai_switch" :class="{ 'disabled-checkbox': !ai_switch }" checked="">
                                        </div>
                                    </div>
                                    <div class="d-flex justify-content-between mb-3">
                                        <div class="d-flex flex-direction-column">
                                            <label class="form-check-label" for="ai_to_graphs_switch">Add AI observations after graphs</label>
                                            <label class="text-description">The tool will compile and place the gathered analysis beneath the graph within the report.</label>
                                        </div>
                                        <div class="form-check form-switch min-h-auto mb-0">
                                            <input v-model="ai_to_graphs_switch" class="form-check-input" id="ai_to_graphs_switch" type="checkbox" :disabled="!ai_switch" :class="{ 'disabled-checkbox': !ai_switch }" checked="">
                                        </div>
                                    </div>
                                    <div class="d-flex justify-content-between mb-3">
                                        <div class="d-flex flex-direction-column">
                                            <label class="form-check-label" for="nfrs_switch">NFRs</label>
                                            <label class="text-description">Conduct a comparison of test results against NFRs. Make sure to select the NFRs for this comparison.</label>
                                        </div>
                                        <div class="form-check form-switch min-h-auto mb-0">
                                            <input v-model="nfrs_switch" class="form-check-input" id="nfrs_switch" type="checkbox" checked="">
                                        </div>
                                    </div>
                                    <div v-if="ai_switch" class="mt-3">
                                        <label>System prompt:</label>
                                        <div class="tooltip-container">
                                            <span class="fa-regular fa-circle-question me-2 mt-2"></span>
                                            <div class="tooltip-content">
                                                A system message for AI is essential to establish the context, guidelines, and constraints for the AI's responses. This prompt will be used in addition to all other prompts.
                                            </div>
                                        </div>
                                        <v-select class="vue-select-imput" v-model="selectedSystemPrompt" :options="system_prompts" label="name" @input="updateSystemPrompt"></v-select>
                                        <textarea v-model="systemPromptText" class="form-control mt-2" rows="3" readonly></textarea>
                                    </div>
                                    <div v-if="ai_switch" class="mt-3">
                                        <label>Template prompt:</label>
                                        <v-select class="vue-select-imput" v-model="selectedTemplatePrompt" :options="template_prompts" label="name" @input="updateTemplatePrompt"></v-select>
                                        <textarea v-model="templatePromptText" class="form-control mt-2" rows="5" readonly></textarea>
                                    </div>
                                    <div v-if="ai_aggregated_data_switch" class="mt-3 mb-5">
                                        <label>Aggregated data prompt:</label>
                                        <v-select class="vue-select-imput" v-model="selectedAggregatedDataPrompt" :options="aggregated_data_prompts" label="name" @input="updateAggregatedDataPrompt"></v-select>
                                        <textarea v-model="aggregatedPromptText" class="form-control mt-2" rows="5" readonly></textarea>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-xl-4">
                                <div class="row g-2">
                                    <div class="col-12 col-xl-12">
                                        <div class="card mb-3">
                                            <div class="card-body">
                                                <div class="margin-all-10">
                                                    <label for="template">Template name</label>
                                                    <input v-model="name" id="template-name" class="form-control" type="text" required>
                                                </div>
                                                <div class="margin-all-10">
                                                    <label for="flow">NFR</label>
                                                    <v-select v-model="nfr" class="vue-select-imput" :options="nfrs" label="name">
                                                    </v-select>
                                                </div>
                                                <div class="margin-all-10">
                                                    <label>Add graphs</label>
                                                    <v-select class="vue-select-imput" :options="graphs" label="name" @input="addGraphElement" required></v-select>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-12 col-xl-12">
                                        <div class="card">
                                            <div class="card-body">
                                                <div>
                                                    <label>Available variables:</label>
                                                    <div>
                                                        <label class="var-name">${current_vusers}:</label>
                                                        <label class="var-description">Max number of threads.</label>
                                                    </div>
                                                    <div>
                                                        <label class="var-name">${current_duration}:</label>
                                                        <label class="var-description">Duration of the test.</label>
                                                    </div>
                                                    <div>
                                                        <label class="var-name">${current_start_time}:</label>
                                                        <label class="var-description">Start datetime for the test.</label>
                                                    </div>
                                                    <div>
                                                        <label class="var-name">${current_end_time}:</label>
                                                        <label class="var-description">End datetime for the test.</label>
                                                    </div>
                                                    <div>
                                                        <label class="var-name">${current_grafana_link}:</label>
                                                        <label class="var-description">Link to Grafana dashboard with test results.</label>
                                                    </div>
                                                    <div>
                                                        <label class="var-name">${baseline_vusers}:</label>
                                                        <label class="var-description">Max number of threads for baseline test (If specified).</label>
                                                    </div>
                                                    <div>
                                                        <label class="var-name">${baseline_duration}:</label>
                                                        <label class="var-description">Duration of the baseline test (If specified).</label>
                                                    </div>
                                                    <div>
                                                        <label class="var-name">${baseline_start_time}:</label>
                                                        <label class="var-description">Start datetime for the baseline test (If specified).</label>
                                                    </div>
                                                    <div>
                                                        <label class="var-name">${baseline_end_time}:</label>
                                                        <label class="var-description">End datetime for the baseline test (If specified).</label>
                                                    </div>
                                                    <div>
                                                        <label class="var-name">${baseline_grafana_link}:</label>
                                                        <label class="var-description">Link to Grafana dashboard with baseline test results (If specified).</label>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                    {% endraw %}
                </div>
                {% with msgs = get_flashed_messages() %}
                    {% include 'includes/flashed-msg.html' %}
                {% endwith %}
            </div>
        </div>
        <script src="//cdnjs.cloudflare.com/ajax/libs/vue/2.5.2/vue.min.js"></script>
        <!-- CDNJS :: Sortable (https://cdnjs.com/) -->
        <script src="//cdn.jsdelivr.net/npm/sortablejs@1.8.4/Sortable.min.js"></script>
        <!-- CDNJS :: Vue.Draggable (https://cdnjs.com/) -->
        <script src="//cdnjs.cloudflare.com/ajax/libs/Vue.Draggable/2.20.0/vuedraggable.umd.min.js"></script>
        <script src="https://unpkg.com/vue-select@latest"></script>
        <link rel="stylesheet" href="https://unpkg.com/vue-select@latest/dist/vue-select.css">

        <script>
            Vue.component('v-select', {
            extends: VueSelect.VueSelect,
            props: ['attrs'],
            });

            const app = new Vue({
            el: '#app',
            data() {
                return {
                    graphs: [],
                    nfrs: "",
                    nfr: "",
                    name: "",
                    title: "",
                    ai_switch: false,
                    ai_aggregated_data_switch: false,
                    ai_graph_switch: false,
                    ai_to_graphs_switch: false,
                    nfrs_switch: false,
                    template_prompt_id: "",
                    aggregated_prompt_id: "",
                    system_prompt_id: "",
                    template_prompts: [],
                    aggregated_data_prompts: [],
                    system_prompts: [],
                    template: [],
                    selectedTemplatePrompt: null,
                    selectedAggregatedDataPrompt: null,
                    selectedSystemPrompt: null,
                };
            },
            computed: {
                templatePromptText() {
                    return this.selectedTemplatePrompt ? this.selectedTemplatePrompt.prompt : '';
                },
                aggregatedPromptText() {
                    return this.selectedAggregatedDataPrompt ? this.selectedAggregatedDataPrompt.prompt : '';
                },
                systemPromptText() {
                  return this.selectedSystemPrompt ? this.selectedSystemPrompt.prompt : '';
                }
            },
            methods: {
                addTextElement() {
                    this.template.push({
                        graph_id  : null,
                        type      : 'text',
                        content   : null
                    });
                },
                addGraphElement(element) {
                    if (element !== null) {
                        this.template.push({
                            graph_id  : element.id,
                            type      : 'graph',
                            content   : null
                        });
                    }
                },
                removeElement(element) {
                    const index = this.template.indexOf(element);
                    if (index !== -1) {
                        this.template.splice(index, 1);
                    }
                },
                checkForm() {
                    const form = document.querySelector(".needs-validation");
                    perforge.utils.validateForm(form, event, (result) => {
                        if (result) {
                            let plainTemplate = JSON.parse(JSON.stringify(this.template));
                            for (const item of plainTemplate) {
                                if (item.type === 'text') {
                                    item.content = item.content.replace(/"/g, '\\\"');
                                }
                            }
                            const results = {
                                "id": '{{ "" if template_config is none else template_config }}',
                                "name": this.name,
                                "nfr": this.nfr.id ? this.nfr.id : null,
                                "title": this.title,
                                "ai_switch": this.ai_switch,
                                ai_aggregated_data_switch: this.ai_aggregated_data_switch,
                                "ai_graph_switch": this.ai_graph_switch,
                                "ai_to_graphs_switch": this.ai_to_graphs_switch,
                                "nfrs_switch": this.nfrs_switch,
                                "template_prompt_id": this.template_prompt_id || null,
                                "aggregated_prompt_id": this.aggregated_prompt_id || null,
                                "system_prompt_id": this.system_prompt_id || null,
                                "data": plainTemplate
                            }
                            perforge.utils
                            .sendPostRequest("/template", JSON.stringify(results))
                            .then((redirectUrl) => {
                                window.location.replace(redirectUrl);
                            })
                            .catch((error) => {
                                console.error("Request failed:", error);
                            });
                        }
                    });
                },
                updateTemplatePrompt(selectedOption) {
                    this.template_prompt_id = selectedOption.id;
                    this.selectedTemplatePrompt = selectedOption; // Ensure the selected option is updated
                },
                updateAggregatedDataPrompt(selectedOption) {
                    this.aggregated_prompt_id = selectedOption.id;
                    this.selectedAggregatedDataPrompt = selectedOption; // Ensure the selected option is updated
                },
                updateSystemPrompt(selectedOption) {
                  this.system_prompt_id = selectedOption.id;
                  this.selectedSystemPrompt = selectedOption; // Ensure the selected option is updated
                },
                getGraphNameById(graph_id) {
                    const graph = this.graphs.find(graph => graph.id === graph_id);
                    return graph ? graph.name : '';
                }
            },
            created() {
                function addTypeToName(prompts) {
                    prompts.forEach(prompt => { prompt.name = `${prompt.name} (${prompt.type})`; });
                    return prompts;
                }

                this.graphs                  = JSON.parse('{{ graphs | tojson }}');
                this.nfrs                    = JSON.parse('{{ nfrs | tojson }}');
                this.template_prompts        = JSON.parse('{{ template_prompts | tojson | safe }}'.replace(/\n/g, "\\n"));
                this.template_prompts        = addTypeToName(this.template_prompts);
                this.aggregated_data_prompts = JSON.parse('{{ aggregated_data_prompts | tojson | safe }}'.replace(/\n/g, "\\n"));
                this.aggregated_data_prompts = addTypeToName(this.aggregated_data_prompts);
                this.system_prompts = JSON.parse('{{ system_prompts | tojson | safe }}'.replace(/\n/g, "\\n"));
                this.system_prompts = addTypeToName(this.system_prompts);
                this.template_data           = JSON.parse('{{ template_data | tojson }}'.replace(/\n/g, "\\n"));

                if (this.template_data && this.template_data.name != null) {
                    this.title                = this.template_data.title;
                    this.name                 = this.template_data.name;
                    this.nfr                  = this.nfrs.find(nfr => nfr.id === this.template_data.nfr) || "";
                    this.template             = this.template_data.data;
                    this.template_prompt_id   = this.template_data.template_prompt_id
                    this.aggregated_prompt_id = this.template_data.aggregated_prompt_id
                    this.system_prompt_id     = this.template_data.system_prompt_id
                    this.ai_switch            = this.template_data.ai_switch;
                    this.ai_aggregated_data_switch = this.template_data.ai_aggregated_data_switch;
                    this.ai_graph_switch      = this.template_data.ai_graph_switch;
                    this.ai_to_graphs_switch  = this.template_data.ai_to_graphs_switch;
                    this.nfrs_switch          = this.template_data.nfrs_switch;

                    // Set selected options after data is loaded
                    if (this.template_prompts.length && this.aggregated_data_prompts.length && this.system_prompts.length) {
                        this.selectedTemplatePrompt = this.template_prompts.find(prompt => prompt.id === this.template_prompt_id);
                        this.selectedAggregatedDataPrompt = this.aggregated_data_prompts.find(prompt => prompt.id === this.aggregated_prompt_id);
                        this.selectedSystemPrompt = this.system_prompts.find(prompt => prompt.id === this.system_prompt_id);
                    }
                }
            },
        });
        </script>
    </main>
{% endblock content %}