<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" width="120" height="120" viewBox="0 0 1000 1000" preserveAspectRatio="xMidYMid meet">
    <!-- Anvil -->
    <g transform="matrix(1.1386 0 0 1.1386 432.9568 687.6564)" id="571424">
        <g vector-effect="non-scaling-stroke">
            <g transform="matrix(1 0 0 1 80.237 55.1215)" id="589118">
                <polygon
                    style="stroke: none; stroke-width: 1; stroke-dasharray: none; stroke-linecap: butt; stroke-dashoffset: 0; stroke-linejoin: miter; stroke-miterlimit: 4; is-custom-font: none; font-file-url: none; fill: rgb(119,117,126); fill-rule: nonzero; opacity: 0.41;"
                    points="170.691,55.1215 -170.691,55.1215 2.537,-55.1215 " />
            </g>
            <g transform="matrix(1 0 0 1 -144.8225 -52.7575)" id="151968">
                <path
                    style="stroke: none; stroke-width: 1; stroke-dasharray: none; stroke-linecap: butt; stroke-dashoffset: 0; stroke-linejoin: miter; stroke-miterlimit: 4; is-custom-font: none; font-file-url: none; fill: rgb(172,170,177); fill-rule: nonzero; opacity: 1;"
                    transform=" translate(-111.1775, -203.2425)"
                    d="M 222.355 260.728 C 80.509 260.728 0 209.253 0 145.757 h 170.923 L 222.355 260.728 z"
                    stroke-linecap="round" />
            </g>
            <g transform="matrix(1 0 0 1 -144.8225 -52.7575)" id="871664">
                <path
                    style="stroke: none; stroke-width: 1; stroke-dasharray: none; stroke-linecap: butt; stroke-dashoffset: 0; stroke-linejoin: miter; stroke-miterlimit: 4; is-custom-font: none; font-file-url: none; fill: rgb(119,117,126); fill-rule: nonzero; opacity: 0.41;"
                    transform=" translate(-111.1775, -203.2425)"
                    d="M 222.355 260.728 C 80.509 260.728 0 209.253 0 145.757 h 170.923 L 222.355 260.728 z"
                    stroke-linecap="round" />
            </g>
            <g transform="matrix(1 0 0 1 -144.8225 -52.2785)" id="923696">
                <path
                    style="stroke: none; stroke-width: 1; stroke-dasharray: none; stroke-linecap: butt; stroke-dashoffset: 0; stroke-linejoin: miter; stroke-miterlimit: 4; is-custom-font: none; font-file-url: none; fill: rgb(62,59,67); fill-rule: nonzero; opacity: 0.3;"
                    transform=" translate(-111.1775, -203.7215)"
                    d="M 5.815 146.236 H 0 c 0 63.496 80.509 114.971 222.355 114.971 l -12.91 -28.858 C 97.19 229.804 25.877 194.031 5.815 146.236 z"
                    stroke-linecap="round" />
            </g>
            <g transform="matrix(1 0 0 1 -165.076 -98.034)" id="671633">
                <path
                    style="stroke: none; stroke-width: 1; stroke-dasharray: none; stroke-linecap: butt; stroke-dashoffset: 0; stroke-linejoin: miter; stroke-miterlimit: 4; is-custom-font: none; font-file-url: none; fill: rgb(62,59,67); fill-rule: nonzero; opacity: 0.41;"
                    transform=" translate(-90.924, -157.966)"
                    d="M 170.923 145.757 H 0 c 0 8.38 1.416 16.548 4.178 24.418 h 177.67 L 170.923 145.757 z"
                    stroke-linecap="round" />
            </g>
            <g transform="matrix(1 0 0 1 80.237 55.1215)" id="320464">
                <polygon
                    style="stroke: none; stroke-width: 1; stroke-dasharray: none; stroke-linecap: butt; stroke-dashoffset: 0; stroke-linejoin: miter; stroke-miterlimit: 4; is-custom-font: none; font-file-url: none; fill: rgb(119,117,126); fill-rule: nonzero; opacity: 0.58;"
                    points="170.691,55.1215 -170.691,55.1215 2.537,-55.1215 " />
            </g>
            <g transform="matrix(1 0 0 1 82.773 0)" id="410040">
                <polygon
                    style="stroke: none; stroke-width: 1; stroke-dasharray: none; stroke-linecap: butt; stroke-dashoffset: 0; stroke-linejoin: miter; stroke-miterlimit: 4; is-custom-font: none; font-file-url: none; fill: rgb(172,170,177); fill-rule: nonzero; opacity: 1;"
                    points="-173.227,110.243 -173.227,79.516 -111.595,11.426 -167.85,-66.71 -167.85,-110.243 -38.367,-110.243 -12.694,-110.243 173.227,-110.243 173.227,-66.71 106.524,11.426 168.155,79.516 168.155,110.243 0.001,49.377 " />
            </g>
            <g transform="matrix(1 0 0 1 202.9415 0)" id="449830">
                <polygon
                    style="stroke: none; stroke-width: 1; stroke-dasharray: none; stroke-linecap: butt; stroke-dashoffset: 0; stroke-linejoin: miter; stroke-miterlimit: 4; is-custom-font: none; font-file-url: none; fill: rgb(62,59,67); fill-rule: nonzero; opacity: 0.26;"
                    points="52.0805,-110.243 14.6225,-110.243 14.6225,-66.71 -52.0805,11.426 9.5515,79.515 9.5515,110.243 47.0085,110.243 47.0085,79.515 -14.6225,11.426 52.0805,-66.71 " />
            </g>
            <g transform="matrix(1 0 0 1 85.4615 -98.034)" id="507011">
                <polygon
                    style="stroke: none; stroke-width: 1; stroke-dasharray: none; stroke-linecap: butt; stroke-dashoffset: 0; stroke-linejoin: miter; stroke-miterlimit: 4; is-custom-font: none; font-file-url: none; fill: rgb(62,59,67); fill-rule: nonzero; opacity: 0.79;"
                    points="170.5385,-12.209 -15.3825,-12.209 -41.0555,-12.209 -170.5385,-12.209 -170.5385,12.209 170.5385,12.209 " />
            </g>
            <g transform="matrix(1 0 0 1 88.851 -4.3175)" id="593488">
                <polygon
                    style="stroke: none; stroke-width: 1; stroke-dasharray: none; stroke-linecap: butt; stroke-dashoffset: 0; stroke-linejoin: miter; stroke-miterlimit: 4; is-custom-font: none; font-file-url: none; fill: rgb(255,255,255); fill-rule: nonzero; opacity: 0.18;"
                    points="57.193,-105.5545 -153.916,105.5545 -7.376,54.0655 -6.148,54.5105 153.916,-105.5545 " />
            </g>
        </g>
    </g>
    <!-- Hammer -->
    <g transform="matrix(0.4564 -0.4487 0.4487 0.4564 522.7076 363.9418)" id="hammer">
        <g style="" vector-effect="non-scaling-stroke">
            <animateTransform attributeName="transform" attributeType="XML" type="rotate"
                values="0 60 70; -50 60 70; 0 60 70" keyTimes="0; 0.1; 1" dur="1s"
                repeatCount="indefinite" begin="0s" />
            <g transform="matrix(1.5625 0 0 1.5625 0.0008 -82.7586)" id="72873">
                <path
                    style="stroke: none; stroke-width: 1; stroke-dasharray: none; stroke-linecap: butt; stroke-dashoffset: 0; stroke-linejoin: miter; stroke-miterlimit: 4; is-custom-font: none; font-file-url: none; fill: rgb(119,117,126); fill-rule: nonzero; opacity: 1;"
                    transform=" translate(-256.0005, -203.0345)"
                    d="M 220.69 256 h 70.621 V 150.069 H 220.69 V 256 z" stroke-linecap="round" />
            </g>
            <g transform="matrix(1.5625 0 0 1.5625 0.0008 200)" id="663807">
                <path
                    style="stroke: none; stroke-width: 1; stroke-dasharray: none; stroke-linecap: butt; stroke-dashoffset: 0; stroke-linejoin: miter; stroke-miterlimit: 4; is-custom-font: none; font-file-url: none; fill: rgb(85,83,90); fill-rule: nonzero; opacity: 1;"
                    transform=" translate(-256.0005, -384)"
                    d="M 220.69 256 v 229.517 c 0 15.007 11.476 26.483 26.483 26.483 h 17.655 c 15.007 0 26.483 -11.476 26.483 -26.483 V 256 H 220.69 z"
                    stroke-linecap="round" />
            </g>
            <g transform="matrix(1.5625 0 0 1.5625 0 -262.0688)" id="631742">
                <path
                    style="stroke: none; stroke-width: 1; stroke-dasharray: none; stroke-linecap: butt; stroke-dashoffset: 0; stroke-linejoin: miter; stroke-miterlimit: 4; is-custom-font: none; font-file-url: none; fill: rgb(85,83,90); fill-rule: nonzero; opacity: 1;"
                    transform=" translate(-256, -88.276)"
                    d="M 361.931 150.069 H 150.069 c -9.71 0 -17.655 -7.945 -17.655 -17.655 V 44.138 c 0 -9.71 7.945 -17.655 17.655 -17.655 h 211.862 c 9.71 0 17.655 7.945 17.655 17.655 v 88.276 C 379.586 142.124 371.641 150.069 361.931 150.069"
                    stroke-linecap="round" />
            </g>
            <g transform="matrix(1.5625 0 0 1.5625 0.0008 -379.3102)" id="380546">
                <path
                    style="stroke: none; stroke-width: 1; stroke-dasharray: none; stroke-linecap: butt; stroke-dashoffset: 0; stroke-linejoin: miter; stroke-miterlimit: 4; is-custom-font: none; font-file-url: none; fill: rgb(119,117,126); fill-rule: nonzero; opacity: 1;"
                    transform=" translate(-256.0005, -13.2415)"
                    d="M 220.69 26.483 h 70.621 V 0 H 220.69 V 26.483 z" stroke-linecap="round" />
            </g>
            <g transform="matrix(1.5625 0 0 1.5625 -34.482 331.0351)" id="250605">
                <path
                    style="stroke: none; stroke-width: 1; stroke-dasharray: none; stroke-linecap: butt; stroke-dashoffset: 0; stroke-linejoin: miter; stroke-miterlimit: 4; is-custom-font: none; font-file-url: none; fill: rgb(119,117,126); fill-rule: nonzero; opacity: 1;"
                    transform=" translate(-233.9315, -467.8625)"
                    d="M 220.69 476.69 h 26.483 v -17.655 H 220.69 V 476.69 z"
                    stroke-linecap="round" />
            </g>
            <g transform="matrix(1.5625 0 0 1.5625 -34.482 275.8617)" id="275653">
                <path
                    style="stroke: none; stroke-width: 1; stroke-dasharray: none; stroke-linecap: butt; stroke-dashoffset: 0; stroke-linejoin: miter; stroke-miterlimit: 4; is-custom-font: none; font-file-url: none; fill: rgb(119,117,126); fill-rule: nonzero; opacity: 1;"
                    transform=" translate(-233.9315, -432.5515)"
                    d="M 220.69 441.379 h 26.483 v -17.655 H 220.69 V 441.379 z"
                    stroke-linecap="round" />
            </g>
        </g>
    </g>
    <!-- spark -->
    <!-- <g transform="matrix(1 0 0 1 223.2259 494.5356)" id="spark">
        <g style="">
            <g transform="matrix(-0.1326 0.2753 -1.5099 -0.7273 -0.0025 5.4672)" id="808818">
                <path
                    style="stroke: none; stroke-width: 1; stroke-dasharray: none; stroke-linecap: butt; stroke-dashoffset: 0; stroke-linejoin: miter; stroke-miterlimit: 4; is-custom-font: none; font-file-url: none; fill: rgb(85,83,90); fill-rule: nonzero; opacity: 1;"
                    vector-effect="non-scaling-stroke" transform=" translate(-81.5, -81.5)"
                    d="M 0 163 H 163 L 81.5 0 L 0 163 Z" stroke-linecap="round" />
            </g>
            <g transform="matrix(-0.1273 0.1202 -0.6593 -0.6979 36.4533 -20.4513)" id="55756">
                <path
                    style="stroke: none; stroke-width: 1; stroke-dasharray: none; stroke-linecap: butt; stroke-dashoffset: 0; stroke-linejoin: miter; stroke-miterlimit: 4; is-custom-font: none; font-file-url: none; fill: rgb(85,83,90); fill-rule: nonzero; opacity: 1;"
                    vector-effect="non-scaling-stroke" transform=" translate(-81.5, -81.5)"
                    d="M 0 163 H 163 L 81.5 0 L 0 163 Z" stroke-linecap="round" />
            </g>
            <g transform="matrix(-0.03 0.1725 -0.9459 -0.1644 -13.6013 44.1057)" id="564255">
                <path
                    style="stroke: none; stroke-width: 1; stroke-dasharray: none; stroke-linecap: butt; stroke-dashoffset: 0; stroke-linejoin: miter; stroke-miterlimit: 4; is-custom-font: none; font-file-url: none; fill: rgb(85,83,90); fill-rule: nonzero; opacity: 1;"
                    vector-effect="non-scaling-stroke" transform=" translate(-81.5, -81.5)"
                    d="M 0 163 H 163 L 81.5 0 L 0 163 Z" stroke-linecap="round" />
            </g>
        </g>
    </g> -->
</svg>