<div class="modal fade" id="projectModal" aria-hidden="true" style="display: none;">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h2 class="modal-title" id="addnewgraphLabel">Add project</h2>
            </div>
            <div class="modal-body">
              <div class="mt-3">
                <label>Project name</label>
                <input class="form-control" id="project_name" name="project_name" type="text" value="">  
              </div>
            </div>
            <div class="modal-footer">
                <div class="status-place" style="float: left;"></div>
                <button class="btn btn-secondary" data-bs-dismiss="modal" type="button">Close</button>
                <button class="btn btn-primary" id="saveProject" type="submit">Save</button>
            </div>
        </div>
    </div>
</div>
<script>
    $(document).ready(function() {
        var modal = $('#projectModal');
        const saveProject = document.getElementById("saveProject");
        saveProject.addEventListener('click', (event) => {
            let projectName_value = document.getElementById("project_name").value;
            projectName_value = projectName_value.replace(/\s/g, '');
            projectName_value = projectName_value.replace(/[^\w\s]/gi, '');
            
            if (projectName_value.length > 0) {
                $.ajax({
                    url: '/save-project',
                    type: 'POST',
                    contentType: 'application/json',
                    data: JSON.stringify({
                        id: null,
                        name: projectName_value
                    }),
                    success: function(response) {
                        document.getElementById("project_name").value = "Saved.";
                        window.location.replace("/");
                    },
                    error: function() {
                        document.getElementById("project_name").value = "Failed to save the project name.";
                    }
                });
            }
        });
    });
</script>